@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #080202;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #DB241B;
}

.swiper-button-prev {
    color: #DB241B;
}

.swiper-pagination-bullet {
    background-color: #D3D2D2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #DB241B;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;

}

.navbar {
    display: flex;
  
}

.menu-1 {
    margin-right: 180px;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo1 {
    width: 80px; /* Defina o tamanho desejado */
    height: 80px; /* Mantém a proporção da imagem */
}

.logo-2 {
    width: 150px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
}

.social:hover {
    background-color: #DB241B;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #DB241B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding: 50px;
}

.slider {
    display: flex;
    align-items: center;
}
.slider-txt {
    margin: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #a7a7a7;
}

.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    border: 2px solid #DB241B;
    background-color: #DB241B;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 450px;
}

.products {
    background-color: #0d0d0d;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #a7a7a7;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #DB241B;
    color: #FFFFFF;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #a7a7a7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.info-img {
    width: 50%;
}

.info-img img {
    width: 500px;
    height: 250px;
}    


.info-txt {
    width: 50%;
}

.info-txt h2 {
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.info-txt p {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-2:hover {
    background-color: #9c1c15;
}

.horario {
    padding: 100px 0;
    background-color: #0d0d0d;
}

.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.map {
    filter: grayscale(100%) invert(95%) contrast(92%);
}

.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;

}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

@media (max-width: 991px) {
    .menu{
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1{
        width: 100px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;
    }
    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swipe-pagination-horizontal,
    .swipe-pagination-custom,
    .swipe-pagination-fraction {
        bottom: 7px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }
    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }
}

.info.container2 {
    text-align: center;
    margin-top: 200px; 
    margin-left:30% ;/* Tamanho das margem do container <-----*/
    margin-right: 30%;/* Tamanho das margem do container ----->*/
}

.info.container3 {
    text-align: center;
    margin-top: 250px; 
    margin-left:30% ;/* Tamanho das margem do container <-----*/
    margin-right: 30%;/* Tamanho das margem do container ----->*/
}
.info-txt3 {
    color: #FFFFFF;

}

.info-txt2 {
    color: #FFFFFF;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.containerForm {
    background-color: #000000; /* fundo do formulario*/
    height:  auto;
    max-width: 650px; /* Limita o tamanho máximo do formulário */
    margin: 1%; /* alinhamento do formulario no meio do site */
    margin-left:40% ;
    margin-right: 40%;
    padding: 20px; /* Adiciona espaço interno para o conteúdo */
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px; /* Cantos arredondados */
}

.info-txt-botao-form {
    height:  auto;
    max-width: 650px; /* Limita o tamanho máximo do formulário */
    margin: 1%; /* alinhamento do formulario no meio do site */
    margin-left:40% ;
    margin-right: 40%;
    padding: 20px; /* Adiciona espaço interno para o conteúdo */
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px; /* Cantos arredondados */
}

.containertxt {
    background-color: #0d0d0d; /* fundo do formulario*/
    text-align: left;
    display: flex;
}

.containerprodutos {
    background-color: #0d0d0d; /* Fundo do formulário */
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens ocupem várias linhas, se necessário */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px; /* Espaçamento interno */
    max-width: 10px 1200px; /* Limite de largura máxima */
    margin: 10px auto; /* Centraliza o contêiner na página */
    margin-top: 250px; 
}




#produtos-container {
    display: flex; /* Flexbox para alinhamento fácil */
    
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: calc(100vh - 80px); /* Altura da área de visualização menos a altura do header */
    padding: 20px; /* Espaçamento interno opcional */
    box-sizing: border-box; /* Inclui o padding na largura/altura total */
    color: #ffffff;
    
    
}

.cartao-producto {
    max-width: 500px;
    flex-wrap: wrap;
}

.cartao-producto img {
    width: 80%;
    border-radius: 4px;
}